.list-view {
    display: flex;
    flex-flow: wrap;
    column-gap: 16px;    
    margin-top: 57px;
    justify-content: center;
    .entry {
        min-width: 290px;
        background: #fff;
        padding: 30px;
        border-radius: 5px;
        padding-top: 47px; 
        margin-bottom: 6%;

        .logo {
            position: absolute;
            margin-top: -71px;
            width: 50px;
            height: 50px;
            display:flex;
            border-radius: 15px;
            justify-content: center;
            align-items: center;
            img {
                position: absolute;
            }
        }
        .meta-data {
            display:flex;
            align-items: center;
            font-size: 16px;
            color: #6e8098;
            font-weight: 300;
            margin-bottom: 14px;
        .dot {
            font-size: 30px;
            margin: 0 10px;
            margin-top: -18px;
            font-weight: 500;
        }
    }
    .title {
        font-size: 20px;
        font-weight: 600;
        color: #19292d;
        margin-bottom: 12px;
    }
    .company {
        font-size:16px;
        color:#6e8098;
        font-weight: 300;
        margin-bottom: 40px;
    }
    .location {
        font-size: 14px;
        font-weight: 600;
        color: #5964E0;
    }
    }
}

.button-container {
    text-align: center;
    button.show {
        background-color: #5964E0;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        font-weight: 600;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 3px;
    }
}