.top-nav {
    background: #5964E0;
    height: 121px;
    border-bottom-left-radius: 100px;
    padding-top:40px;
    overflow: hidden;
    position: relative;
    img.vector-1 {
        position: absolute;
        left: -93px;
        top: 14px;
    }
    img.vector-2 {
        position: absolute;
        top: -357px;
        left: 19%;
    }
    img.vector-3 {
        position: absolute;
        right: 0;
        top: 0;
    }
    .toggle {
      display: flex;
      align-items: center;
  }
}


// Slider Toggle
/* Rounded sliders */
.switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 24px;
    z-index: 999999;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
  }
  span.toggle-sun {
    margin-top: 4px;
    margin-right: 12px;
}
span.toggle-moon {
  margin-left: 12px;
}
  .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 4px;
    bottom: 5px;
    background-color: #5964E0;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #fff;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
.slider.round {
    border-radius: 34px;
  }
  
.slider.round:before {
    border-radius: 50%;
}

